
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">

      <!--Save button-->
      <div class="row">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-3">
          <input type="button" class="btn btn-primary" value="Cancel" class="btn btn-primary" (click)="CancelEvent()" />
          <input type="button" class="btn btn-primary" value="Save" class="btn btn-primary" (click)="updateEvent()" style="margin-left:5px;" />
        </div>
      </div>
      <br />


      <!--search and add window-->
      <div class="row panel panel-default" id="Add&Search" style="display:none">

        <div class="col-xs-12 panel-body">

          <table [formGroup]="FindUserForm">
        <tr>
          <td>
            <label class="cellWidthForLabel">User Name *</label>
          </td>
          <td>
            <input type="text" class="cellWidthForInput" [(ngModel)]="depUserName" formControlName="searchName" />

                  <div *ngIf="(getFindFormControls.searchName.dirty || getFindFormControls.searchName.touched) && getFindFormControls.searchName.invalid && getFindFormControls.searchName.errors.required" class="text-danger">
                    <div *ngIf="getFindFormControls.searchName.errors.required">
                      User Name required.
                    </div>
                  </div>

          </td>
        </tr>
        <br />
        <tr>
          <td>
            <label class="cellWidthForLabel">DOB *</label>
          </td>
          <td>
            <p-calendar [(ngModel)]="depDOB" class="cellWidthForInput" showIcon="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030" formControlName="searchDOB"></p-calendar>


            <div *ngIf="(getFindFormControls.searchDOB.dirty || getFindFormControls.searchDOB.touched) && getFindFormControls.searchDOB.invalid && getFindFormControls.searchDOB.errors.required" class="text-danger">
              <div *ngIf="getFindFormControls.searchDOB.errors.required">
                User DOB required.
              </div>
            </div>
          </td>

        </tr>
        <br />
        <tr>
          <td>
            <label class="cellWidthForLabel">RelationShip</label>
          </td>
          <td>
            <input [(ngModel)]="relChoice" type="radio" value="Child" name="realt" class="cellWidthForInput"  checked formControlName="realt" />Child
            <input [(ngModel)]="relChoice" type="radio" value="Wife" name="realt" class="cellWidthForInput" formControlName="realt"  />Wife

          </td>

        </tr>
        <br />
        <tr>
          <td>


            <input type="button" class="btn btn-primary" value="Find" (click)="FindAndAddDependent()" />
          </td>
          <td>
            <label class="cellWidthForLabel" id="SearchResult"></label>
          </td>
          <td>
        </tr>
        <br />
      </table>
        </div>


      </div>
      <br />

        <!--Customer List-->
        <div class="row  panel panel-default" *ngFor='let item of DetailCustomerModelList; let index=index'>

          <div *ngIf="item.dependantToBeDeleted==null || item.dependantToBeDeleted==false">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-10">
                  {{item.cutomerName}}
                </div>
                <div class="col-xs-2">

                  <div *ngIf="item.dependantParentID == -1;else other_content">

                    <p-button icon="pi pi-plus" class="ui-button-icon" (onClick)="AddDependent(item)">
                    </p-button>
                  </div>
                  <ng-template #other_content>
                    <p-button icon="pi pi-minus" class="ui-button-icon" (onClick)="DeleteDependent(item)">
                    </p-button>
                  </ng-template>






                </div>
              </div>

            </div>

            <div class="panel-body">

              <!--Basic info panel-->

              <div class="panel panel-default">
                <div class="panel-heading">Basic Info</div>
                <div class="panel-body row">
                  <div class="col-xs-2">


                  </div>
                  <div class="col-xs-8">

                    <table>

                      <input type="hidden" [value]="item.customerID" />
                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Customer Name</label>
                        </td>
                        <td class="cellWidthForInput">
                          <input type="text" disabled [value]="item.cutomerName" />
                        </td>
                      </tr>
                      <br />

                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Age</label>
                        </td>
                        <td class="cellWidthForInput">
                          <input type="text" disabled [value]="item.age" />
                        </td>
                      </tr>
                      <br />


                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Gender *</label>
                        </td>
                        <td class="cellWidthForInput">
                          <select [(ngModel)]="DetailCustomerModelList[index].gender">
                            <option *ngFor="let c of genderList" [value]="c.gender1" [selected]="DetailCustomerModelList[index].gender === c.gender1">{{c.gender1}}</option>
                          </select>
                        </td>
                      </tr>
                      <br />

                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Marrige Status</label>
                        </td>
                        <td class="cellWidthForInput">
                          <select [(ngModel)]="DetailCustomerModelList[index].maritalStatus">
                            <option *ngFor="let c of marriageList" [value]="c.maritalStatus1" [selected]="DetailCustomerModelList[index].maritalStatus === c.maritalStatus1">{{c.maritalStatus1}}</option>
                          </select>

                        </td>
                      </tr>
                      <br />
                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Occupation </label>
                        </td>
                        <td class="cellWidthForInput">
                          <select [(ngModel)]="DetailCustomerModelList[index].occupation">
                            <option *ngFor="let c of occupationList" [value]="c.occuptionName" [selected]="DetailCustomerModelList[index].occupation === c.occuptionName">{{c.occuptionName}}</option>
                          </select>
                        </td>
                      </tr>
                      <br />

                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Occupation Details</label>
                        </td>
                        <td class="cellWidthForInput">
                          <input type="text" [value]="DetailCustomerModelList[index].occupationDetails" [(ngModel)]="DetailCustomerModelList[index].occupationDetails" />

                        </td>
                      </tr>

                      <br />

                      <tr>
                        <td class="cellWidthForLabel">
                          <label>Mobile Number</label>
                        </td>
                        <td class="cellWidthForInput">
                          <input type="text" [value]="DetailCustomerModelList[index].mobileNumber" [(ngModel)]="DetailCustomerModelList[index].mobileNumber"  />
                          

                        </td>
                      </tr>

                      <br />
                    </table>
                  </div>
                  <div class="col-xs-2">

                  </div>
                </div>
              </div>

              <!--address panel-->
              <div class="row">
                <div class="col-xs-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">Address Info</div>
                    <div class="panel-body ">



                      <table>

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Address </label>
                          </td>
                          <td class="cellWidthForInput">
                            <input type="text" [value]="DetailCustomerModelList[index].address1" [(ngModel)]="DetailCustomerModelList[index].address1" />
                          </td>
                        </tr>
                        <br />

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Street/Landmark Details</label>
                          </td>
                          <td class="cellWidthForInput">
                            <input type="text" [value]="DetailCustomerModelList[index].address2" [(ngModel)]="DetailCustomerModelList[index].address2" />
                          </td>
                        </tr>
                        <br />


                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Area</label>
                          </td>
                          <td class="cellWidthForInput">
                            <input type="text" [value]="DetailCustomerModelList[index].area" [(ngModel)]="DetailCustomerModelList[index].area" />
                          </td>
                        </tr>
                        <br />

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>City</label>
                          </td>
                          <td class="cellWidthForInput">
                            <select [(ngModel)]="DetailCustomerModelList[index].city">
                              <option *ngFor="let c of cityList" [value]="c.city1" [selected]="item.city === c.city1">{{c.city1}}</option>
                            </select>

                          </td>
                        </tr>
                        <br />


                        <tr>
                          <td class="cellWidthForLabel">
                            <label>State</label>
                          </td>
                          <td class="cellWidthForInput">
                            <select [(ngModel)]="DetailCustomerModelList[index].state">
                              <option *ngFor="let c of statesList" [value]="c.state" [selected]="item.state === c.state">{{c.state}}</option>
                            </select>

                          </td>
                        </tr>
                        <br />

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Pin</label>
                          </td>
                          <td class="cellWidthForInput">
                            <select [(ngModel)]="DetailCustomerModelList[index].pin">
                              <option *ngFor="let c of pinList" [value]="c.pin" [selected]="item.pin === c.pin">{{c.pin}}</option>
                            </select>

                          </td>
                        </tr>
                        <br />
                      </table>

                    </div>
                  </div>
                </div>

                <!--Education Panel-->

                <div class="col-xs-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">Education Info</div>
                    <div class="panel-body ">


                      <table>

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Education </label>
                          </td>
                          <td class="cellWidthForInput">
                            <select [(ngModel)]="DetailCustomerModelList[index].educationName">
                              <option *ngFor="let c of educationList" [value]="c.educationName" [selected]="item.educationName === c.educationName">{{c.educationName}}</option>
                            </select>

                          </td>
                        </tr>
                        <br />

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Arabic Education </label>
                          </td>
                          <td class="cellWidthForInput">
                            <select [(ngModel)]="DetailCustomerModelList[index].arabicEducationName">
                              <option *ngFor="let c of arabicEducationList" [value]="c.arabicEducationName" [selected]="item.arabicEducationName === c.arabicEducationName">{{c.arabicEducationName}}</option>
                            </select>

                          </td>
                        </tr>
                        <br />

                        <tr>
                          <td class="cellWidthForLabel">
                            <label>Eduction Details </label>
                          </td>
                          <td class="cellWidthForInput">
                            <input type="text" [value]="item.educationDetails" [(ngModel)]="DetailCustomerModelList[index].educationDetails" />
                          </td>
                        </tr>
                        <br />

                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-2">

    </div>
  </div>
  </div>


