<div class="container">
  <div class="row">

    <div class="col-11" style="margin-left:20px;">

      <!--search and add window-->
      <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
          <div class="card" id="Add&Search" style="display:none">



            <div class="card-body">
              <div class="row">
                <div class="col-md-7 text-xs-center ">
                  <table [formGroup]="FindUserForm">
                    <tr>
                      <td>
                        <label>User Name *</label>
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="depUserName" formControlName="searchName" />

                        <div *ngIf="(getFindFormControls.searchName.dirty || getFindFormControls.searchName.touched) && getFindFormControls.searchName.invalid && getFindFormControls.searchName.errors.required" class="text-danger">
                          <div *ngIf="getFindFormControls.searchName.errors.required">
                            User Name required.
                          </div>
                        </div>

                      </td>
                    </tr>
                    <br />
                    <tr>
                      <td>
                        <label>DOB *</label>
                      </td>
                      <td>
                        <p-calendar [(ngModel)]="depDOB" class="cellWidthForInput" showIcon="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030" formControlName="searchDOB"></p-calendar>


                        <div *ngIf="(getFindFormControls.searchDOB.dirty || getFindFormControls.searchDOB.touched) && getFindFormControls.searchDOB.invalid && getFindFormControls.searchDOB.errors.required" class="text-danger">
                          <div *ngIf="getFindFormControls.searchDOB.errors.required">
                            User DOB required.
                          </div>
                        </div>
                      </td>

                    </tr>
                    <br />

                    <tr>
                      <td>
                        <label>Role</label>
                      </td>
                      <td>
                        <select>
                          <option *ngFor="let c of roleList" [ngValue]="c.roleName">{{c.roleName}}</option>
                        </select>


                      </td>
                    </tr>

                  </table>
                </div>
                <div class="col-md-5 text-xs-center text-primary p-y-1">
                  <table>
                    <tr>
                      <td>


                        <input type="button" class="btn btn-primary" value="Add" (click)="AddUserToAdmin()" />
                      </td>
                      <td>
                        <label id="SearchResult"></label>
                      </td>
                      <td>
                    </tr>
                    <br />
                    <tr>
                      <td>


                        <input type="button" class="btn btn-primary" value="Cancel" (click)="Cancel()" />
                      </td>


                    </tr>
                  </table>
                </div>

              </div>

            </div>

          </div>

          <div class="col-1"></div>

        </div>
      </div>
      <br />
      <div class="row">

        <div class="col-1"></div>
        <div class="col-11">
          <input type="button" class="btn btn-primary" value=" + Add" (click)="displayAddWindow()" style="float:right;margin-top:10px;" />

        </div>
      </div>

      <br />
      <div class="row">



        <p-table [value]="BasicUsersist" [responsive]="true" [paginator]="true" [rows]="1" [totalRecords]="pageSize"
                 [lazy]="true" (onLazyLoad)="LoadRows($event)"
                 class="table table-responsive">
          <ng-template pTemplate="header" class="thead-dark">
            <tr>

              <th hidden>ID</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Role</th>

              <th style="width:130px;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-BasicUsers let-rowIndex="rowIndex">
            <tr>
              <td hidden>{{BasicUsers.userId}}</td>
              <td>{{BasicUsers.userName}}</td>
              <td>{{BasicUsers.dob | date: 'dd/MM/yyyy'}} </td>
              <td  >
                <select  [(ngModel)]="BasicUsers.role"  [disabled]="isDisabled[rowIndex]">
                  <option *ngFor="let c of roleList" [ngValue]="c.roleName"  [selected]="BasicUsers.role==c.roleName" >
                    {{c.roleName }}
                  </option>
                </select>
              </td>
              <td>
                <p-button (onClick)="DeleteEvent(BasicUsers)" icon="pi pi-trash">
                </p-button>

                <p-button (onClick)="EditEvent(rowIndex)" icon="pi pi-user-edit" style="margin-left:2px;">
                </p-button>

                <p-button (onClick)="SaveEvent(rowIndex,BasicUsers)" icon="pi pi-save" style="margin-left:2px;" [disabled]="isDisabled[rowIndex]">
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <p id="myText">Confirm Delete user?</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" style="margin-right:10px;" id="myButton">Delete</button>
    <button type="button" class="btn btn-default" (click)="close()">Close</button>
  </div>
</div>

