
<div class="container-fluid ">

  <div class="row">
    <div class="col-1 no-gutter">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-11 no-gutter">


      <div class="card-header bg-info text-white">
        <h1>Community Data Management</h1>
        <p>Masjid-E-Sara, Choodasandra, Banaglore -560099</p>
      </div>

      <div class="row SpaceBetweenBodyAndHeader">

      </div>

      <router-outlet></router-outlet>
    </div>

 </div>
  <div class="row SpaceBetweenBodyAndFooter">
  </div>

</div>
  <app-footer></app-footer>
