.no-gutter{
  padding-right: 0;
  padding-left: 0;
}

.myHeaderClass {
  background-color: #e3f2fd;
}

.SpaceBetweenBodyAndHeader {
  margin-bottom: 50px;
}

.SpaceBetweenBodyAndFooter {
  margin-bottom: 100px;
}
