
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">

      <!--Save button-->
      <div class="row">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-3">
          <input type="button" class="btn btn-primary" value="Cancel" class="btn btn-primary" (click)="CancelEvent()" />
          <input type="button" class="btn btn-primary" value="Save" class="btn btn-primary" (click)="SaveEvent()" style="margin-left:5px;" />
        </div>
      </div>
      <br />


      <!--Create Customer-->
      <div class="row  panel panel-default">

        <div class="panel-heading">

        </div>

        <div class="panel-body">

          <!--Basic info panel-->

          <div class="panel panel-default">
            <div class="panel-heading">Basic Info</div>
            <div class="panel-body row">
              <div class="col-xs-2">


              </div>
              <div class="col-xs-8"  >
                
                <table [formGroup]="CreateUser">


                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Customer Name *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <input type="text" [(ngModel)]="DetailCustomerModel.cutomerName" formControlName="custName" />

                      <div *ngIf="(getControls.custName.dirty || getControls.custName.touched) && getControls.custName.invalid && getControls.custName.errors.required" class="text-danger">
                        <div *ngIf="getControls.custName.errors.required">
                          Name required.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <br />

                  <tr>
                    <td class="cellWidthForLabel">
                      <label>DOB *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <input type="text" [(ngModel)]="DetailCustomerModel.age" formControlName="DOB" />

                      <div *ngIf="(getControls.DOB.dirty || getControls.DOB.touched) && getControls.DOB.invalid && getControls.DOB.errors.required" class="text-danger">
                        <div *ngIf="getControls.DOB.errors.required">
                          DOB required.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <br />


                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Gender *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <select [(ngModel)]="DetailCustomerModel.gender" formControlName="Gender">
                        <option *ngFor="let c of genderList" [value]="c.gender1">{{c.gender1}}</option>
                      </select>

                      <div *ngIf="(getControls.Gender.dirty || getControls.Gender.touched) && getControls.Gender.invalid && getControls.Gender.errors.required" class="text-danger">
                        <div *ngIf="getControls.Gender.errors.required">
                          Gender required.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <br />

                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Marriage Status *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <select [(ngModel)]="DetailCustomerModel.maritalStatus" formControlName="maritalStatus">
                        <option *ngFor="let c of marriageList" [value]="c.maritalStatus1">{{c.maritalStatus1}}</option>
                      </select>

                      <div *ngIf="(getControls.maritalStatus.dirty || getControls.maritalStatus.touched) && getControls.maritalStatus.invalid && getControls.maritalStatus.errors.required" class="text-danger">
                        <div *ngIf="getControls.maritalStatus.errors.required">
                          Marital Status required.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <br />
                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Occupation *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <select [(ngModel)]="DetailCustomerModel.occupation" formControlName="occupation">
                        <option *ngFor="let c of occupationList" [value]="c.occuptionName">{{c.occuptionName}}</option>
                      </select>
                      <div *ngIf="(getControls.occupation.dirty || getControls.occupation.touched) && getControls.occupation.invalid && getControls.occupation.errors.required" class="text-danger">
                        <div *ngIf="getControls.occupation.errors.required">
                          Occupation required.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <br />

                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Occupation Details *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <input type="text" [(ngModel)]="DetailCustomerModel.occupationDetails" formControlName="occupationDetails" />

                      <div *ngIf="(getControls.occupationDetails.dirty || getControls.occupationDetails.touched) && getControls.occupationDetails.invalid && getControls.occupationDetails.errors.required" class="text-danger">
                        <div *ngIf="getControls.occupationDetails.errors.required">
                          Occupation Details required.
                        </div>
                      </div>

                    </td>
                  </tr>

                  <br />

                  <tr>
                    <td class="cellWidthForLabel">
                      <label>Mobile Number *</label>
                    </td>
                    <td class="cellWidthForInput">
                      <input type="text" [(ngModel)]="DetailCustomerModel.mobileNumber"  formControlName="mobileNumber" />

                      <div *ngIf="(getControls.mobileNumber.dirty || getControls.mobileNumber.touched) && getControls.mobileNumber.invalid && getControls.mobileNumber.errors.required" class="text-danger">
                        <div *ngIf="getControls.mobileNumber.errors.required">
                          Mobile Number required.
                        </div>
                      </div>

                    </td>
                  </tr>

                  <br />
                </table>
              </div>
              <div class="col-xs-2">

              </div>
            </div>
          </div>

          <!--address panel-->
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">Address Info</div>
                <div class="panel-body ">



                  <table  [formGroup]="CreateUser">

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Address </label>
                      </td>
                      <td class="cellWidthForInput">
                        <input type="text" [(ngModel)]="DetailCustomerModel.address1" />
                      </td>
                    </tr>
                    <br />

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Street/Landmark Details</label>
                      </td>
                      <td class="cellWidthForInput">
                        <input type="text" [(ngModel)]="DetailCustomerModel.address2" />
                      </td>
                    </tr>
                    <br />


                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Area *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <input type="text" [(ngModel)]="DetailCustomerModel.area" formControlName="area" />

                      <div *ngIf="(getControls.area.dirty || getControls.area.touched) && getControls.area.invalid && getControls.area.errors.required" class="text-danger">
                        <div *ngIf="getControls.area.errors.required">
                          Area required.
                        </div>
                      </div>

                      </td>
                    </tr>
                    <br />

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>City *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <select [(ngModel)]="DetailCustomerModel.city" formControlName="city" >
                          <option *ngFor="let c of cityList" [value]="c.city1">{{c.city1}}</option>
                        </select>
                        <div *ngIf="(getControls.city.dirty || getControls.city.touched) && getControls.city.invalid && getControls.city.errors.required" class="text-danger">
                          <div *ngIf="getControls.city.errors.required">
                           City required.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <br />


                    <tr>
                      <td class="cellWidthForLabel">
                        <label>State *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <select [(ngModel)]="DetailCustomerModel.state" formControlName="state" >
                          <option *ngFor="let c of statesList" [value]="c.state">{{c.state}}</option>
                        </select>
                        <div *ngIf="(getControls.state.dirty || getControls.state.touched) && getControls.state.invalid && getControls.state.errors.required" class="text-danger">
                          <div *ngIf="getControls.state.errors.required">
                            State required.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <br />

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Pin *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <select [(ngModel)]="DetailCustomerModel.pin" formControlName="pin" >
                          <option *ngFor="let c of pinList" [value]="c.pin">{{c.pin}}</option>
                        </select>
                        <div *ngIf="(getControls.pin.dirty || getControls.pin.touched) && getControls.pin.invalid && getControls.pin.errors.required" class="text-danger">
                          <div *ngIf="getControls.pin.errors.required">
                            Pin required.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <br />
                  </table>

                </div>
              </div>
            </div>

            <!--Education Panel-->

            <div class="col-xs-6">
              <div class="panel panel-default">
                <div class="panel-heading">Education Info</div>
                <div class="panel-body ">


                  <table [formGroup]="CreateUser">

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Education *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <select [(ngModel)]="DetailCustomerModel.educationName" formControlName="educationName">
                          <option *ngFor="let c of educationList" [value]="c.educationName">{{c.educationName}}</option>
                        </select>
                        <div *ngIf="(getControls.educationName.dirty || getControls.educationName.touched) && getControls.educationName.invalid && getControls.educationName.errors.required" class="text-danger">
                          <div *ngIf="getControls.educationName.errors.required">
                            Education required.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <br />

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Arabic Education *</label>
                      </td>
                      <td class="cellWidthForInput">
                        <select [(ngModel)]="DetailCustomerModel.arabicEducationName" formControlName="arabicEducationName">
                          <option *ngFor="let c of arabicEducationList" [value]="c.arabicEducationName">{{c.arabicEducationName}}</option>
                        </select>
                        <div *ngIf="(getControls.arabicEducationName.dirty || getControls.arabicEducationName.touched) && getControls.arabicEducationName.invalid && getControls.arabicEducationName.errors.required" class="text-danger">
                          <div *ngIf="getControls.arabicEducationName.errors.required">
                            Arabic Education required.
                          </div>
                        </div>
                      </td>
                    </tr>
                    <br />

                    <tr>
                      <td class="cellWidthForLabel">
                        <label>Eduction Details </label>
                      </td>
                      <td class="cellWidthForInput">
                        <input type="text" [(ngModel)]="DetailCustomerModel.educationDetails" />
                      </td>
                    </tr>
                    <br />

                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-2">

    </div>
  </div>
</div>


