
<div class="container" >
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11">

      <div class="row">


        <td class="cellWidthForLabel">
          <label>Gender </label>
        </td>
        <td class="cellWidthForInput">
          <select >
            <option *ngFor="let c of occupationList" [ngValue]="c.occuptionName">{{c.occuptionName}}</option>
          </select>
        </td>

      </div>


      <div class="row">


        <input type="button" class="btn btn-primary" value=" + Add" (click)="AddEvent()" style="float:right" />

      </div>

      <br />
      <div class="row">



        <p-table [value]="BasicCustomersList" [responsive]="true" [paginator]="true" [rows]="1" [totalRecords]="pageSize"
                 [lazy]="true" (onLazyLoad)="LoadRows($event)"
                 class="table table-responsive">
          <ng-template pTemplate="header" class="thead-dark">
            <tr>
              <th>Customer ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Marriage</th>
              <th>Mobile</th>
              <th style="width:130px;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-BasicCustomers>
            <tr>
              <td>{{BasicCustomers.customerID}}</td>
              <td>{{BasicCustomers.name}}</td>
              <td>{{BasicCustomers.age}}</td>
              <td>{{BasicCustomers.gender}}</td>
              <td>{{BasicCustomers.maritalStatus}}</td>
              <td>{{BasicCustomers.mobileNumber}}</td>
              <td>
                <p-button (onClick)="ViewEvent(BasicCustomers)" icon="pi pi-eye">
                </p-button>
                <p-button (onClick)="EditEvent(BasicCustomers)" icon="pi pi-user-edit" style="margin-left:2px;">
                </p-button>
                <p-button (onClick)="DeleteEvent(BasicCustomers)" icon="pi pi-trash" style="margin-left:2px;">
                </p-button>

              </td>
            </tr>
          </ng-template>
        </p-table>
       
      </div>
    </div>

      <div class="col-1">

      </div>

    </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <p id="myText">Confirm Delete user?</p>

    <button type="button" class="btn btn-primary" (click)="confirm()" style="margin-right:10px;" id="myButton">Delete</button>
    <button type="button" class="btn btn-default" (click)="close()">Close</button>
  </div>

</div>
