<nav class="navbar" style="background-color: #e3f2fd;" *ngIf="display">
  <div class="container">

    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="customers">Users</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin">Admin</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="Mulaqat">Mulaqat</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="logout" style="align-content:flex-end">logout</a></li>
    </ul>
  </div>


</nav>
